<a href="https://colab.research.google.com/github/VoznesenskayaV/LabOP/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
authors = pd.DataFrame({'author_id': [1, 2, 3], 'author_name': ['Тургенев', 'Чехов', 'Островский']})
print(authors)

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [ ]:
book = pd.DataFrame(
    ({'author_id': [1, 1, 1, 2, 2, 3, 3], 
      'book_title': ['Отцы и дети', 
                     'Рудин', 
                     'Дворянское гнездо', 
                     'Толстый и тонкий', 
                     'Дама с собачкой', 
                     'Гроза', 
                     'Таланты и поклонники'], 
      'price': [450, 300, 350, 500, 450, 370, 290]})
     )
print(book)

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

In [ ]:
authors_price = pd.merge(authors, book, on='author_id', how='inner')
print(authors_price)

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

In [ ]:
top5 = authors_price.nlargest(5, 'price')
print(top5)

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

Ваш код:

In [ ]:
authors_stat = (authors_price.groupby('author_name')
                              .agg({'price': 'sum', 'book_title': 'count'})
                              .reset_index()\
                              .rename(columns={'price': 'total_price', 
                                               'book_title': 'books_count'}))
print(authors_stat)

  author_name  total_price  books_count
0  Островский          660            2
1    Тургенев         1100            3
2       Чехов          950            2

Мой код:

In [26]:
authors_stat = (authors_price.groupby('author_name')
                            .agg({'price': ['min', 'max', 'mean']})
                            .reset_index()
                            .rename(columns={'min': 'min_price', 
                                            'max': 'max_price', 
                                            'mean': 'mean_price'}))



# убираем мультииндекс
authors_stat.columns = authors_stat.columns.droplevel()

# переименовываем столбец авторов
authors_stat = authors_stat.rename(columns={'': 'author_name'})

authors_stat['mean_price'] = authors_stat['mean_price'].round(2)

print(authors_stat)

  author_name  min_price  max_price  mean_price
0  Островский        290        370      330.00
1    Тургенев        300        450      366.67
2       Чехов        450        500      475.00

In [27]:
import numpy as np

In [28]:
# Добавление нового столбца "cover"
cover_types = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
authors_price['cover'] = cover_types

print(authors_price)

   author_id author_name            book_title  price    cover
0          1    Тургенев           Отцы и дети    450  твердая
1          1    Тургенев                 Рудин    300   мягкая
2          1    Тургенев     Дворянское гнездо    350   мягкая
3          2       Чехов      Толстый и тонкий    500  твердая
4          2       Чехов       Дама с собачкой    450  твердая
5          3  Островский                 Гроза    370   мягкая
6          3  Островский  Таланты и поклонники    290   мягкая

In [29]:
# Создание сводной таблицы с суммарной стоимостью книг для каждого автора и типа обложки
pivot_table = pd.pivot_table(authors_price, values='price', index='author_name', columns='cover', aggfunc=np.sum, fill_value=0)

# Сброс индекса и сделать столбцом 'author_name'
pivot_table = pivot_table.reset_index()

# Переименование столбцов
pivot_table.columns = ['author_name', 'твердая', 'мягкая']

print(pivot_table)

  author_name  твердая  мягкая
0  Островский      660       0
1    Тургенев      650     450
2       Чехов        0     950

In [30]:
# Переименование датафрейма authors_price в book_info
book_info = authors_price

# Сохранение датафрейма book_info в формате pickle
book_info.to_pickle("book_info.pkl")

In [31]:
book_info2 = pd.read_pickle("book_info.pkl")

Если выводится значение True, это означает, что датафреймы book_info и book_info2 идентичны. Если выводится значение False, значит, датафреймы имеют различия.

In [32]:
comparison = book_info.equals(book_info2)
print(comparison)

True