<a href="https://colab.research.google.com/github/VoznesenskayaV/LabOP/blob/main/%D0%97%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_1_%22movies_eda_1_1_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Разведочный анализ по датасету IMDb Movies: 5000 фильмов с наибольшим рейтингом. Часть 1: Обзор и предобработка данных**

![](https://adabul.com/wp-content/uploads/2020/04/diziler-360x240.jpg)

## 1. Описание датасета и задания

Представлен датасет с данными о 5000 фильмах, имеющих наибольший рейтинг на сайте IMDb (датасет выложен на платформе [Kaggle](https://www.kaggle.com/datasets/totoro29/imdb-movies)).

***Информация, содержащаяся в датасете:***
1.   Ссылка на постер фильма (poster).
2.   Наименование фильма (title).
3.   Класс фильма по рейтингу the British Board of Film Classification (BBFC) (certificate).
4.   Продолжительность фильма (runtime).
5.   Жанр фильма (genre).
6.   Рейтинг фильма на платформе IMBD (rating).
7.   Описание сюжета фильма (about).
8.   Кинорежиссер фильма (director).
9.   Актеры-звезды фильма (stars).
10.  Количество проголосовавших за фильм (votes).
11.  Доход с фильма (gross_earn).

***Задача:***
провести разведочный анализ данных, найти взаимосвязи и сформулировать выводы.

**В части 1 задания необходимо:**
1.   Выполнить обзор данных.
2.   Оценить датасет на наличие дубликатов и при необходимости обработать их.
3.   Оценить признаки на наличие пропусков и при необходимости обработать их.
4.   Привести данные к необходимому для анализа типу.
5.   Отсортировать и сохранить датасет для дальнейшего анализа.

## 2. Загрузка датасета

In [ ]:
!gdown --id 1imLd48Tn7Z2iiORJp6tKWR0whfWBrP-0

/usr/local/lib/python3.10/dist-packages/gdown/cli.py:121: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1imLd48Tn7Z2iiORJp6tKWR0whfWBrP-0
To: /content/movies.csv
100% 1.89M/1.89M [00:00<00:00, 93.8MB/s]

## 3. Подгрузка данных в питон и начало работы с ними

Импортируйте библиотеку pandas и присвойте ей короткое название pd

In [ ]:
import pandas as pd

Откройте датасет movies.csv и сохраните его в переменную dataset

In [ ]:
import pandas as pd

dataset = pd.read_csv('/content/movies.csv')

Проведите обзор таблицы с помощью метода head()

In [ ]:
dataset.head() #Метод head() без аргументов по умолчанию выводит первые 5 строк таблицы.

,poster,title,certificate,runtime,genre,rating,about,director,stars,votes,gross_earn
0,https://m.media-amazon.com/images/S/sash/4Fyxw...,The Shawshank Redemption,15,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,Frank Darabont,"('Tim Robbins',), ('Morgan Freeman',), ('Bob G...","26,26,905",$28.34M
1,https://m.media-amazon.com/images/S/sash/4Fyxw...,The Dark Knight,12A,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,"('Christian Bale',), ('Heath Ledger',), ('Aaro...","25,98,173",$534.86M
2,https://m.media-amazon.com/images/S/sash/4Fyxw...,Inception,12A,148 min,"Action, Adventure, Sci-Fi",8.8,A thief who steals corporate secrets through t...,Christopher Nolan,"('Leonardo DiCaprio',), ('Joseph Gordon-Levitt...","23,04,062",$292.58M
3,https://m.media-amazon.com/images/S/sash/4Fyxw...,Fight Club,18,139 min,Drama,8.8,An insomniac office worker and a devil-may-car...,David Fincher,"('Brad Pitt',), ('Edward Norton',), ('Meat Loa...","20,71,088",$37.03M
4,https://m.media-amazon.com/images/S/sash/4Fyxw...,Pulp Fiction,18,154 min,"Crime, Drama",8.9,"The lives of two mob hitmen, a boxer, a gangst...",Quentin Tarantino,"('John Travolta',), ('Uma Thurman',), ('Samuel...","20,11,013",$107.93M

## 4. Оценка размеров датасета, наличия дубликатов и пропусков

Оцените размеры датасета с помощью атрибута shape

In [ ]:
print(dataset.shape) #Этот код выведет размеры датасета в формате (количество строк, количество столбцов).

(5000, 11)

Выведите информацию о датасете с помощью метода info(). Оцените признаки и типы данных, обратите внимание на пропущенные значения

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   poster       5000 non-null   object
 1   title        5000 non-null   object
 2   certificate  5000 non-null   object
 3   runtime      5000 non-null   object
 4   genre        4970 non-null   object
 5   rating       5000 non-null   float64
 6   about        4986 non-null   object
 7   director     5000 non-null   object
 8   stars        5000 non-null   object
 9   votes        5000 non-null   object
 10  gross_earn   4585 non-null   object
dtypes: float64(1), object(10)
memory usage: 429.8+ KB

Оцените наличие дубликатов в датасете с помощью метода duplicated() в связке с sum() (при необходимости исключите полные дубликаты)

In [ ]:
duplicate_count = dataset.duplicated().sum()
print("Количество дубликатов в датасете:", duplicate_count)

Количество дубликатов в датасете: 0

P.s. бывают ситуации, когда нет необходимости удалять дубликаты, т.к. их наличие может нести ценную информацию при анализе.

Оцените наличие пропущенных значений в датасете по признаку gross_earn

In [ ]:
missing_values = dataset['gross_earn'].isnull().sum()
print("Количество пропущенных значений в признаке 'gross_earn':", missing_values)

Количество пропущенных значений в признаке 'gross_earn': 415

P.s. не стоит исключать наблюдения с пропущенными значениями на этапе предобработки датасета, если нет жесткого требования это делать. Так можно потерять информацию по другим более значимым признакам. Кроме того, их наличие может нести ценную информацию при анализе.

**Выводы:**

Напишите выводы по разделу:
1.   О размерах датасета (количество признаков и количество наблюдений).
2.   О типах данных (какие есть и какие должны быть, нужна ли предобработа).
3.   О дубликатах (их наличие, нужна ли предобработка).
4.   О пропущенных значениях (их наличие, нужна ли предобработка).
5.   О возможных проблемах, которые могут возникнуть при анализе.

# Вывод
1. Размеры датасета: для оценки размеров датасета использовался атрибут shape. В данном случае, датасет содержит 5000 наблюдений (строк) и 11 признаков (столбцов).
2. Типы данных и необходимость предобработки:
Чтобы оценить типы данных в датасете и определить необходимость предобработки, использовался метод info(). В данном случае, в датасете присутствуют следующие типы данных:
float64: Это числовой тип данных, который может хранить числа с плавающей запятой (дробные числа). В нашем датасете имеется один столбец с типом данных float64, который называется "rating".
object: Это общий тип данных в pandas, который обычно используется для хранения текстовых значений (строк) или различных объектов, которые не попадают в другие категории данных (например, столбцы с типом "object" могут содержать строки, даты, категориальные переменные и т.д.). В нашем датасете имеется десять столбцов с типом данных object, которые содержат текстовые значения, такие как названия фильмов, сертификаты, жанры, описание, режиссеры, актеры, количество голосов и заработок. Возможно, может потребоваться выполнить предобработку данных для преобразования некоторых столбцов в более подходящие типы данных. Например, столбец "votes" может быть числовыми типами данных вместо типа "object". 
3. Дубликаты и необходимость предобработки:
Для оценки наличия дубликатов в датасете использовались методы duplicated() и sum(). Если значение переменной duplicate_count больше нуля, это означает, что в датасете присутствуют дубликаты. В таком случае, возможно, потребуется предобработка данных для удаления или обработки дубликатов. В данном датасете количество дубликатов равно 0. 
4. Пропущенные значения и необходимость предобработки:
Для оценки наличия пропущенных значений в датасете использовались методы isnull() и sum(). Так как количество пропущенных значений не равно нулю, возможно, потребуется предобработка данных для обработки или заполнения пропущенных значений.
5. Возможные проблемы при анализе:
При анализе датасета могут возникнуть следующие проблемы:
Неправильные типы данных: Если типы данных признаков не соответствуют ожидаемым типам (например, числовые признаки имеют тип "object"), это может затруднить проведение анализа и требовать преобразования типов данных.
Пропущенные значения: Пропущенные значения могут влиять на результаты анализа и требовать специальной обработки или заполнения.
Дубликаты: Наличие дубликатов может привести к неправильным выводам и искажению статистических метрик. Возможно, потребуется удаление или обработка дубликатов.
Важно провести предобработку данных для устранения этих проблем и обеспечения точности и достоверности результатов анализа.

## 5. Обработка колонок runtime и gross_earn: приведение к числовому типу

Приведите значения признаков runtime и gross_earn к числовому типу, исключив лишние символы

In [ ]:
import re
import numpy as np

# Удаление всех символов, кроме цифр, в признаке "runtime"
dataset['runtime'] = dataset['runtime'].apply(lambda x: re.sub('\D', '', str(x)))

# Замена пустых значений на NaN
dataset['runtime'].replace('', np.nan, inplace=True)

# Преобразование признака "runtime" в тип данных int
dataset['runtime'] = dataset['runtime'].astype(float)


# Удаление всех символов, кроме цифр и точки, в признаке "gross_earn"
dataset['gross_earn'] = dataset['gross_earn'].apply(lambda x: re.sub('[^\d.]', '', str(x)))

# Замена пустых значений на NaN
dataset['gross_earn'].replace('', np.nan, inplace=True)

# Преобразование признака "gross_earn" в тип данных float
dataset['gross_earn'] = dataset['gross_earn'].astype(float)

### *5.1. runtime*

Выведите Series ['runtime'] для детального просмотра данных

In [34]:
dataset['runtime'] 
"""В предыдущем коде мы уже произвели удаление всех символов, кроме цифр
в признаке "runtime". Поэтому значение Drama, Romance мы уже не получаем."""

0       142.0
1       152.0
2       148.0
3       139.0
4       154.0
        ...
4995    102.0
4996     94.0
4997      NaN
4998     92.0
4999    120.0
Name: runtime, Length: 5000, dtype: float64

По индексу 4997 в признак попало аномальное значение - Drama, Romance

Выведите уникальные значения по Series ['runtime'] с помощью метода unique()

In [ ]:
unique_runtimes = dataset['runtime'].unique() #Этот код выведет массив уникальных значений в столбце 'runtime'. Каждое значение будет отображено только один раз.
print(unique_runtimes)

[14200. 15200. 14800. 13900. 15400. 17800. 13600. 20100. 17500. 16400.
 17900. 12700. 14300. 15500. 14000. 16500. 16900. 12100. 11800. 16200.
 15300. 15100. 19500. 11300. 13000. 12400. 12200. 19400. 13200. 20200.
 13800. 11900. 18900. 18000. 13700. 10600. 11100. 11600. 14500. 11000.
  9800. 10700. 12600. 10000. 13100. 13300. 10300. 10800.  9600.  9900.
 11500.  8800. 12000.  8100. 13500. 14600. 11700. 10400.  9200.  9100.
 10200. 14900. 17000. 11200. 10100. 14100. 14400. 11400. 15000.  9000.
 16100. 12800.  9300. 12900. 16600. 14700. 13400. 10900. 10500. 12500.
 15600. 12300.  9500. 15700. 16300. 15800.  8900. 18700. 16700.  8400.
  9400.  8500. 17200. 16000. 16800.  8600.  9700.  8700. 18300. 18800.
 20700. 15900.  7600. 22900. 23800.  8300. 21800.  7700. 18100. 19100.
  8000. 21200.  7800.  7900.  8200.  7400. 18500.  7500. 19700.  6900.
  6400. 22400.  6800. 21000. 17700. 19300.  6700. 17400.  7000. 22000.
 32100.    nan 18600. 19800.  5800. 19200. 24200. 20400. 17100.  6300.
 18200. 17600. 19600. 20500.  7100. 25900.  4500. 21300.  7200. 21600.
 31700. 36600.]

Таких аномальных значений несколько. Следует исключить их из датасета

Импортируйте библиотеку re

In [ ]:
import re

Напишите функцию, которая исключит нецифровые символы с помощью регулярных выражений

In [ ]:
import numpy as np

def extract_digits(runtime):
    if np.isnan(runtime):
        return np.nan
    else:
        return int(runtime)

# Пример использования функции
runtime_cleaned = dataset['runtime'].apply(extract_digits)
print(runtime_cleaned)

0       14200.0
1       15200.0
2       14800.0
3       13900.0
4       15400.0
         ...
4995    10200.0
4996     9400.0
4997        NaN
4998     9200.0
4999    12000.0
Name: runtime, Length: 5000, dtype: float64

Примените функцию к Series ['runtime'] с помощью метода apply()

In [ ]:
import pandas as pd
import numpy as np

# Создание новой Series с очищенными значениями
runtime_cleaned = dataset['runtime'].apply(lambda x: extract_digits(x))

# Вывод новой Series
print(runtime_cleaned)

0       14200.0
1       15200.0
2       14800.0
3       13900.0
4       15400.0
         ...
4995    10200.0
4996     9400.0
4997        NaN
4998     9200.0
4999    12000.0
Name: runtime, Length: 5000, dtype: float64

Создайте столбец runtime_clear в исходном датасете, применив функцию к признаку runtime

In [36]:
import pandas as pd
import numpy as np

# Создание нового столбца с очищенными значениями
dataset['runtime_clear'] = dataset['runtime'].apply(lambda x: extract_digits(x))

# Вывод обновленного датасета
print(dataset)

                                                 poster  \
0     https://m.media-amazon.com/images/S/sash/4Fyxw...
1     https://m.media-amazon.com/images/S/sash/4Fyxw...
2     https://m.media-amazon.com/images/S/sash/4Fyxw...
3     https://m.media-amazon.com/images/S/sash/4Fyxw...
4     https://m.media-amazon.com/images/S/sash/4Fyxw...
...                                                 ...
4995  https://m.media-amazon.com/images/S/sash/4Fyxw...
4996  https://m.media-amazon.com/images/S/sash/4Fyxw...
4997  https://m.media-amazon.com/images/S/sash/4Fyxw...
4998  https://m.media-amazon.com/images/S/sash/4Fyxw...
4999  https://m.media-amazon.com/images/S/sash/4Fyxw...

                                title certificate  runtime  \
0            The Shawshank Redemption          15    142.0
1                     The Dark Knight         12A    152.0
2                           Inception         12A    148.0
3                          Fight Club          18    139.0
4                        Pulp Fiction          18    154.0
...                               ...         ...      ...
4995  Seven Brides for Seven Brothers           U    102.0
4996                  Playing It Cool          15     94.0
4997             A Moment to Remember     144 min      NaN
4998                        Hairspray          PG     92.0
4999             McCabe & Mrs. Miller           X    120.0

                          genre  rating  \
0                         Drama     9.3
1          Action, Crime, Drama     9.0
2     Action, Adventure, Sci-Fi     8.8
3                         Drama     8.8
4                  Crime, Drama     8.9
...                         ...     ...
4995     Comedy, Drama, Musical     7.3
4996            Comedy, Romance     5.9
4997                        NaN     8.1
4998      Comedy, Drama, Family     7.0
4999             Drama, Western     7.6

                                                  about           director  \
0     Two imprisoned men bond over a number of years...     Frank Darabont
1     When the menace known as the Joker wreaks havo...  Christopher Nolan
2     A thief who steals corporate secrets through t...  Christopher Nolan
3     An insomniac office worker and a devil-may-car...      David Fincher
4     The lives of two mob hitmen, a boxer, a gangst...  Quentin Tarantino
...                                                 ...                ...
4995  In 1850 Oregon, when a backwoodsman brings a w...      Stanley Donen
4996  Unrequited love motivates a guy to write about...     Justin Reardon
4997  A young couple's enduring love is tested when ...        John H. Lee
4998  A 'pleasantly plump' teenager teaches 1962 Bal...        John Waters
4999  A gambler and a prostitute become business par...      Robert Altman

                                                  stars      votes  \
0     ('Tim Robbins',), ('Morgan Freeman',), ('Bob G...  26,26,905
1     ('Christian Bale',), ('Heath Ledger',), ('Aaro...  25,98,173
2     ('Leonardo DiCaprio',), ('Joseph Gordon-Levitt...  23,04,062
3     ('Brad Pitt',), ('Edward Norton',), ('Meat Loa...  20,71,088
4     ('John Travolta',), ('Uma Thurman',), ('Samuel...  20,11,013
...                                                 ...        ...
4995  ('Jane Powell',), ('Howard Keel',), ('Jeff Ric...     25,112
4996  ('Chris Evans',), ('Michelle Monaghan',), ('To...     28,515
4997  ('Jung Woo-sung',), ('Son Ye-jin',), ('Jong-ha...     23,957
4998  ('Sonny Bono',), ('Ruth Brown',), ('Divine',),...     21,536
4999  ('Warren Beatty',), ('Julie Christie',), ('Ren...     25,097

      gross_earn  runtime_clear
0          28.34          142.0
1         534.86          152.0
2         292.58          148.0
3          37.03          139.0
4         107.93          154.0
...          ...            ...
4995        9.40          102.0
4996         NaN           94.0
4997         NaN            NaN
4998        6.67           92.0
4999        8.20          120.0

[5000 rows x 12 columns]

Выведите Series ['runtime_clear'] для оценки результата

In [37]:
runtime_clear_series = dataset['runtime_clear']
print(runtime_clear_series)

0       142.0
1       152.0
2       148.0
3       139.0
4       154.0
        ...
4995    102.0
4996     94.0
4997      NaN
4998     92.0
4999    120.0
Name: runtime_clear, Length: 5000, dtype: float64

По индексу 4997, где было аномальное значение, теперь на первый взгляд пустота. Проверьте, так ли это, с помощью метода isna()

In [38]:
is_na = dataset['runtime_clear'].isna()
print(is_na[4997]) #True - это означает, что значение по указанному индексу является пропущенным

True

Количество пустых полей - 0... Посмотрите поближе, что же на самом деле записано в данном поле с помощью индексации датасет['столбец'][индекс]

In [41]:
value = dataset['runtime_clear'][4997]
print(value)

nan

Записано нулевое строковое значение. Убедитесь в этом, проверив тип данных с помощью функции type()

In [42]:
value = dataset['runtime_clear'][4997]
print(type(value)) #В данном случае не строковое, так как некорректное значение было преобразовано в числовой тип данных

<class 'numpy.float64'>

Действительно, это строковое значение. Отфильтруйте датасет, исключив все такие значения с помощью оператора !=

In [43]:
filtered_dataset = dataset[dataset['runtime_clear'] != '0']

Оцените размеры датасета с помощью атрибута shape

In [44]:
print(filtered_dataset.shape)

(5000, 12)

А также проверьте тип данных с помощью метода info()

In [45]:
filtered_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   poster         5000 non-null   object
 1   title          5000 non-null   object
 2   certificate    5000 non-null   object
 3   runtime        4970 non-null   float64
 4   genre          4970 non-null   object
 5   rating         5000 non-null   float64
 6   about          4986 non-null   object
 7   director       5000 non-null   object
 8   stars          5000 non-null   object
 9   votes          5000 non-null   object
 10  gross_earn     4585 non-null   float64
 11  runtime_clear  4970 non-null   float64
dtypes: float64(4), object(8)
memory usage: 507.8+ KB

Приведите признак runtime_clear в формат int с помощью метода astype()

In [49]:
filtered_dataset['runtime_clear'] = filtered_dataset['runtime_clear'].fillna('0').astype(int)

Проверьте тип данных с помощью метода info()

In [50]:
filtered_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   poster         5000 non-null   object
 1   title          5000 non-null   object
 2   certificate    5000 non-null   object
 3   runtime        4970 non-null   float64
 4   genre          4970 non-null   object
 5   rating         5000 non-null   float64
 6   about          4986 non-null   object
 7   director       5000 non-null   object
 8   stars          5000 non-null   object
 9   votes          5000 non-null   object
 10  gross_earn     4585 non-null   float64
 11  runtime_clear  5000 non-null   int64
dtypes: float64(3), int64(1), object(8)
memory usage: 507.8+ KB

Тип данных - int64. Все получилось!

### *5.2. gross_earn*

По аналогии приведите признак gross_earn к числовому типу данных

In [51]:
filtered_dataset['gross_earn'] = filtered_dataset['gross_earn'].replace({'\$': '', ',': ''}, regex=True).replace('', np.nan).astype(float)

Выведите Series ['gross_earn'] для детального просмотра данных

In [53]:
print(filtered_dataset['gross_earn'])

0        28.34
1       534.86
2       292.58
3        37.03
4       107.93
         ...
4995      9.40
4996       NaN
4997       NaN
4998      6.67
4999      8.20
Name: gross_earn, Length: 5000, dtype: float64

Напишите функцию, которая исключит нецифровые символы с помощью регулярных выражений

In [56]:
import re

def clear_gross_earn(gross_earn):
    pattern = r'\D'  # Регулярное выражение для нецифровых символов
    return re.sub(pattern, '', str(gross_earn))

Примените функцию к Series ['gross_earn'] с помощью метода apply()

In [57]:
filtered_dataset['gross_earn'] = filtered_dataset['gross_earn'].apply(clear_gross_earn)

Ошибка TypeError, связанная с тем, что в какой-то момент в функцию попали пропущенные значения, которые она не смогла обработать

Оцените количество пропущенных значений по признаку с помощью метода isna() в связке с методом sum()

In [58]:
missing_values_count = filtered_dataset['gross_earn'].isna().sum()
print("Количество пропущенных значений в признаке 'gross_earn':", missing_values_count)

Количество пропущенных значений в признаке 'gross_earn': 0

Необходимо добавить в функцию обработку пустых значений. Для этого импортируйте библиотеку numpy с коротким наименованием np

In [59]:
import numpy as np

Добавьте в функцию проверку на пустые значения с помощью метода pandas pd.isna(). В случае пропуска она должна вернуть пустое значение np.nan; в ином случае - сохранить алгоритм, написанный ранее

In [60]:
def clear_gross_earn(gross_earn):
  if pd.isna(gross_earn):
    return np.nan
  else:
    return re.sub('\D', '', gross_earn)

Примените функцию к Series ['gross_earn'] с помощью метода apply()

In [68]:
filtered_dataset['gross_earn'] = filtered_dataset['gross_earn'].apply(clear_gross_earn)

Создайте столбец gross_earn в исходном датасете, применив функцию к признаку gross_earn

In [73]:
"""Этот код преобразует значения в столбце 'gross_earn' в числовой тип данных, 
при этом пустые значения будут преобразованы в NaN. Результаты сохраняются 
обратно в столбец 'gross_earn' в исходном датасете."""
dataset['gross_earn'] = pd.to_numeric(dataset['gross_earn'], errors='coerce')
dataset['gross_earn_clear'] = pd.to_numeric(dataset['gross_earn'], errors='coerce')

Выведите Series ['gross_earn_clear'] для оценки результата

In [74]:
print(dataset['gross_earn_clear'])

0        28.34
1       534.86
2       292.58
3        37.03
4       107.93
         ...
4995      9.40
4996       NaN
4997       NaN
4998      6.67
4999      8.20
Name: gross_earn_clear, Length: 5000, dtype: float64

Приведите признак gross_earn_clear в формат int с помощью метода astype()

In [75]:
dataset['gross_earn_clear'] = dataset['gross_earn_clear'].astype(int) # Ошибка, так как имеются NaN

IntCastingNaNError: ignored

Ошибка ValueError, связанная с тем, что метод не может перевести значения NaN (которые имеют тип данных float) в формат int. Попробуйте применить метод pandas pd.numeric(), чтобы привести данные в числовой формат numpy.float64, подходящий для дальнейшего переводы в int64

In [76]:
dataset['gross_earn_clear'] = pd.to_numeric(dataset['gross_earn_clear'])

Проверьте тип данных на любом значении признака с помощью функции type()

In [77]:
value = dataset['gross_earn_clear'].iloc[0] #Метод iloc[0] используется для получения значения по определенному индексу в датафрейме или серии данных.
data_type = type(value)
print(data_type)

<class 'numpy.float64'>

Тип данных - numpy.float64. Приведите признак gross_earn_clear в формат Int64 с помощью метода astype()

In [82]:
"""Значения в столбце "gross_earn_clear" имеют тип float64, но 
содержат пропущенные значения (NaN), в таком случае прямое приведение к 
целочисленному типу int64 может вызвать ошибку. Используем метод fillna() 
для заполнения пропущенных значений нулями перед приведением типа."""

dataset['gross_earn_clear'] = dataset['gross_earn_clear'].fillna(0).astype(np.int64)

Код был выполнен. Оцените результат, детально рассмотрев Series ['gross_earn_clear']

In [83]:
print(dataset['gross_earn_clear'])

0        28
1       534
2       292
3        37
4       107
       ...
4995      9
4996      0
4997      0
4998      6
4999      8
Name: gross_earn_clear, Length: 5000, dtype: int64

Выведите информацию о датасете с помощью метода info()

In [84]:
print(dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   poster            5000 non-null   object
 1   title             5000 non-null   object
 2   certificate       5000 non-null   object
 3   runtime           4970 non-null   float64
 4   genre             4970 non-null   object
 5   rating            5000 non-null   float64
 6   about             4986 non-null   object
 7   director          5000 non-null   object
 8   stars             5000 non-null   object
 9   votes             5000 non-null   object
 10  gross_earn        4585 non-null   float64
 11  runtime_clear     4970 non-null   float64
 12  gross_earn_clear  5000 non-null   int64
dtypes: float64(4), int64(1), object(8)
memory usage: 507.9+ KB
None

Все получилось: признаки runtime и gross_earn в числовом формате!

## 6. Сортировка по рейтингу

Отсортируйте датасет в порядке убывания рейтинга фильмов (rating), применив метод sort_values() с переданным в него параметром ascending=False

In [85]:
sorted_dataset = dataset.sort_values(by='rating', ascending=False)
print(sorted_dataset)

                                                 poster  \
0     https://m.media-amazon.com/images/S/sash/4Fyxw...
3788  https://m.media-amazon.com/images/S/sash/4Fyxw...
9     https://m.media-amazon.com/images/S/sash/4Fyxw...
8     https://m.media-amazon.com/images/S/sash/4Fyxw...
1     https://m.media-amazon.com/images/S/sash/4Fyxw...
...                                                 ...
4021  https://m.media-amazon.com/images/S/sash/4Fyxw...
3237  https://m.media-amazon.com/images/S/sash/4Fyxw...
1751  https://m.media-amazon.com/images/S/sash/4Fyxw...
3426  https://m.media-amazon.com/images/S/sash/4Fyxw...
3871  https://m.media-amazon.com/images/S/sash/4Fyxw...

                                              title certificate  runtime  \
0                          The Shawshank Redemption          15    142.0
3788                                 Hababam Sinifi         12A     87.0
9                                     The Godfather           X    175.0
8     The Lord of the Rings: The Return of the King         12A    201.0
1                                   The Dark Knight         12A    152.0
...                                             ...         ...      ...
4021                           From Justin to Kelly          PG     81.0
3237                        The Hottie & the Nottie         12A     91.0
1751                                 Disaster Movie         12A     87.0
3426                       Manos: The Hands of Fate      70 min      NaN
3871                   Superbabies: Baby Geniuses 2           U     88.0

                         genre  rating  \
0                        Drama     9.3
3788             Comedy, Drama     9.2
9                 Crime, Drama     9.2
8     Action, Adventure, Drama     9.0
1         Action, Crime, Drama     9.0
...                        ...     ...
4021  Comedy, Musical, Romance     1.9
3237           Comedy, Romance     1.9
1751            Comedy, Sci-Fi     1.9
3426                       NaN     1.6
3871    Comedy, Family, Sci-Fi     1.5

                                                  about              director  \
0     Two imprisoned men bond over a number of years...        Frank Darabont
3788  Lazy, uneducated students share a very close b...         Ertem Egilmez
9     The aging patriarch of an organized crime dyna...  Francis Ford Coppola
8     Gandalf and Aragorn lead the World of Men agai...         Peter Jackson
1     When the menace known as the Joker wreaks havo...     Christopher Nolan
...                                                 ...                   ...
4021  A waitress from Texas and a college student fr...         Robert Iscove
3237  A woman agrees to go on a date with a man only...            Tom Putnam
1751  Over the course of one evening, an unsuspectin...       Jason Friedberg
3426  A family gets lost on the road and stumbles up...      Harold P. Warren
3871  A group of smart-talking toddlers find themsel...             Bob Clark

                                                  stars      votes  \
0     ('Tim Robbins',), ('Morgan Freeman',), ('Bob G...  26,26,905
3788  ('Kemal Sunal',), ('Münir Özkul',), ('Halit Ak...     40,492
9     ('Marlon Brando',), ('Al Pacino',), ('James Ca...  18,19,641
8     ('Elijah Wood',), ('Viggo Mortensen',), ('Ian ...  18,01,662
1     ('Christian Bale',), ('Heath Ledger',), ('Aaro...  25,98,173
...                                                 ...        ...
4021  ('Kelly Clarkson',), ('Justin Guarini',), ('Ka...     26,478
3237  ('Paris Hilton',), ('Joel David Moore',), ('Ch...     38,334
1751  ('Aaron Seltzer',), ('Carmen Electra',), ('Van...     91,413
3426  ('Tom Neyman',), ('John Reynolds',), ('Diane A...     36,352
3871  ('Jon Voight',), ('Scott Baio',), ('Vanessa An...     31,069

      gross_earn  runtime_clear  gross_earn_clear
0          28.34          142.0                28
3788         NaN           87.0                 0
9         134.97          175.0               134
8         377.85          201.0               377
1         534.86          152.0               534
...          ...            ...               ...
4021        4.92           81.0                 4
3237        0.03           91.0                 0
1751       14.19           87.0                14
3426         NaN            NaN                 0
3871        9.11           88.0                 9

[5000 rows x 13 columns]

## 7. Переопределение индексов

Переопределите индексы по порядку с помощью метода reset_index() с переданными в него параметрами drop=True для удаления предыдущего столбца индексов и inplace=True для автоматической перезаписи таблицы

In [86]:
dataset.reset_index(drop=True, inplace=True)
print(dataset)

                                                 poster  \
0     https://m.media-amazon.com/images/S/sash/4Fyxw...
1     https://m.media-amazon.com/images/S/sash/4Fyxw...
2     https://m.media-amazon.com/images/S/sash/4Fyxw...
3     https://m.media-amazon.com/images/S/sash/4Fyxw...
4     https://m.media-amazon.com/images/S/sash/4Fyxw...
...                                                 ...
4995  https://m.media-amazon.com/images/S/sash/4Fyxw...
4996  https://m.media-amazon.com/images/S/sash/4Fyxw...
4997  https://m.media-amazon.com/images/S/sash/4Fyxw...
4998  https://m.media-amazon.com/images/S/sash/4Fyxw...
4999  https://m.media-amazon.com/images/S/sash/4Fyxw...

                                title certificate  runtime  \
0            The Shawshank Redemption          15    142.0
1                     The Dark Knight         12A    152.0
2                           Inception         12A    148.0
3                          Fight Club          18    139.0
4                        Pulp Fiction          18    154.0
...                               ...         ...      ...
4995  Seven Brides for Seven Brothers           U    102.0
4996                  Playing It Cool          15     94.0
4997             A Moment to Remember     144 min      NaN
4998                        Hairspray          PG     92.0
4999             McCabe & Mrs. Miller           X    120.0

                          genre  rating  \
0                         Drama     9.3
1          Action, Crime, Drama     9.0
2     Action, Adventure, Sci-Fi     8.8
3                         Drama     8.8
4                  Crime, Drama     8.9
...                         ...     ...
4995     Comedy, Drama, Musical     7.3
4996            Comedy, Romance     5.9
4997                        NaN     8.1
4998      Comedy, Drama, Family     7.0
4999             Drama, Western     7.6

                                                  about           director  \
0     Two imprisoned men bond over a number of years...     Frank Darabont
1     When the menace known as the Joker wreaks havo...  Christopher Nolan
2     A thief who steals corporate secrets through t...  Christopher Nolan
3     An insomniac office worker and a devil-may-car...      David Fincher
4     The lives of two mob hitmen, a boxer, a gangst...  Quentin Tarantino
...                                                 ...                ...
4995  In 1850 Oregon, when a backwoodsman brings a w...      Stanley Donen
4996  Unrequited love motivates a guy to write about...     Justin Reardon
4997  A young couple's enduring love is tested when ...        John H. Lee
4998  A 'pleasantly plump' teenager teaches 1962 Bal...        John Waters
4999  A gambler and a prostitute become business par...      Robert Altman

                                                  stars      votes  \
0     ('Tim Robbins',), ('Morgan Freeman',), ('Bob G...  26,26,905
1     ('Christian Bale',), ('Heath Ledger',), ('Aaro...  25,98,173
2     ('Leonardo DiCaprio',), ('Joseph Gordon-Levitt...  23,04,062
3     ('Brad Pitt',), ('Edward Norton',), ('Meat Loa...  20,71,088
4     ('John Travolta',), ('Uma Thurman',), ('Samuel...  20,11,013
...                                                 ...        ...
4995  ('Jane Powell',), ('Howard Keel',), ('Jeff Ric...     25,112
4996  ('Chris Evans',), ('Michelle Monaghan',), ('To...     28,515
4997  ('Jung Woo-sung',), ('Son Ye-jin',), ('Jong-ha...     23,957
4998  ('Sonny Bono',), ('Ruth Brown',), ('Divine',),...     21,536
4999  ('Warren Beatty',), ('Julie Christie',), ('Ren...     25,097

      gross_earn  runtime_clear  gross_earn_clear
0          28.34          142.0                28
1         534.86          152.0               534
2         292.58          148.0               292
3          37.03          139.0                37
4         107.93          154.0               107
...          ...            ...               ...
4995        9.40          102.0                 9
4996         NaN           94.0                 0
4997         NaN            NaN                 0
4998        6.67           92.0                 6
4999        8.20          120.0                 8

[5000 rows x 13 columns]

## 8. Сохранение датасета

Сохраните датасет под названием movies_clean в формате csv и скачайте его себе на ПК. Он Понадобится Вам при дальнейшем выполнении тренировочных заданий

In [89]:
"""Чтобы сохранить датасет в формате CSV, можно использовать метод to_csv() и 
указать путь к файлу, в котором нужно сохранить данные."""
import os
dataset.to_csv('movies_clean.csv', index=False)
os.getcwd()
from google.colab import files
files.download('movies_clean.csv')

**Поздравляем! Часть 1 задания по модулю EDA выполнена! Далее Вас ожидает разведочный анализ данных!**